<footer class="page-footer blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">TLDR</h5>
          <p class="white-text">I am a recent Michigan State graduate hoping to share my experiences with the world to inspire and help others get out and see the world.</p>


        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>