<div style="background-image: url('../../assets/blogBackground.jpeg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <div *ngFor="let rows of postGrid;" >
        <div class="row" >
            <div *ngFor="let post of rows" >
                <div class="col s12 m4">
                    <div class="card medium">
                        <div class="card-image">
                        <img src="{{heroes[0]}}">
                        <span class="card-title">{{post[0]}}</span>
                        </div>
                        <div class="card-content">
                        <p>{{post[2]}}</p>
                        </div>
                        <div class="card-action">
                        <a href="/blog-post">Check it Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>