.row{
    padding-top: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 0%;
}
.tab{
    padding-left: 40px;
}
.title2{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    padding-left: 1%;
    padding-right: 1%;
    width: fit-content;
    border-radius: 30px;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.h5{
    padding-top: 5%;
    font-size: 2.2rem;
}
.cardText{
    padding:24px;
    padding-top:10px;
    padding-bottom:10px;
}
button{
    background-color: rgba(0,0,0,0);
    margin-top:3%;
    margin-bottom:3%;
    padding-top: 1%;
    border: solid;
    border-color: rgba(0,0,0,1);
    border-radius: 1em;
    line-height: 2;
    color: rgba(0,0,0,1);
    padding: 0% 3%;
    text-align: center;
    letter-spacing: .5px;
}
button:hover{
    background-color: rgba(68, 90, 100, 1);
    color: white;
}
button:focus{
    background-color: rgba(68, 90, 100, 1);
    color: white;
}