<div style="background-image: url('../../assets/background1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <div class="row" >
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                <img src="../../assets/background3.jpg">
                <span class="card-title">Green River Gorge</span>
                </div>
                <div class="card-content">
                <p *ngFor="hero of heroes;" ><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fugit similique repudiandae, libero mollitia ad vitae alias debitis quibusdam! Temporibus voluptates rem est tempore corrupti quisquam magni minus sunt repellendus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo fugiat laborum quisquam doloremque illum deleniti libero ratione esse saepe sequi laudantium culpa adipisci obcaecati porro eligendi, autem iusto. Non, dolores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptatum laboriosam sit debitis, voluptatem commodi doloribus velit esse aliquam exercitationem doloremque expedita beatae facere porro voluptatibus provident. Vero, doloribus sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</div>