<div style="background-image: url('../../assets/background1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <div class="row" >
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                <img src="../../assets/background3.jpg">
                <span class="card-title">Green River Gorge</span>
                </div>
                <div class="card-content">
                <p><br><span class='tab'></span>As one of the last stops along my cross-country trip, the Green River Gorge was an impromptu decision. I had found several potential stops between our previous destination, Mt. Rainier, and our next destination, Glacier National Park. 
                    I was getting to the point where I wanted a break from the driving, so I stopped at the nearest place I had planned out. I’m not gonna lie. It was actually quite a pain to find. It is so far off the beaten path I almost gave up and went to the next place. 
                    The directions I found online were from another blog and it basically said to find a red gate on the side of the road. The only problem is that there were several red gates on the side of the road within the area I was expecting to find it. 
                    <br><span class='tab'></span>The first two we stopped at weren’t what we were looking for, but we tried for a third and when we found it, it was obvious that this was the red gate they were talking about. It’s described as a hidden gem of Washington and it certainly was hidden. 
                    The trail past the red gate starts wide, but quickly becomes very narrow. Also, it should be mentioned that the woods in this area strongly resembled a rainforest. Just about every inch of the woods was covered in some kind of moss. It looked like the upside-down from stranger things, but with much cleaner air. 
                    <br><span class='tab'></span>Anyway, I walked through the woods for a little under a mile, and then the path became very steep (down to the river). We end up coming out at a clearing where the river is bordered by a beach of softball-sized rocks. I had some fun throwing the rocks for a bit, then took in the view. 
                    There were remains of a campfire near the entrance to the clearing, but other than that it seemed as if no one had been there in ages. The area we first found is called the hanging gardens. It got that name because there is a giant flat cliffside, with a few plants that are growing out of a solid rock that makes it seem like they are hanging there. 
                    <br><span class='tab'></span>I’m not actually sure how high the sheer face was, but I can confidently say it was well over a hundred feet tall. It really was beautiful, but it wasn’t what I was expecting, and because I couldn’t find the part of the Green River Gorge I was looking for, I was a little irritable. 
                    There was an area I had seen that seemed to be a local hangout online, but we never ended up finding that area. Nevertheless, my family thought it was nice. We didn’t stay for too long. After looking around for a bit, we headed back up the trail to the car and the whole while my dad kept saying that he would never forget this place because it was so hard to find, and it was out in the boonies. 
                    <br><span class='tab'></span>He kept teasing me about it, but it is kind of neat to see how many places go unnoticed by most. If this would have been an earlier stop on the trip, I’m sure I would have been mesmerized, but it didn’t quite live up to the magnitude of even the place we just came from, Mt. Rainier. 
                    Looking back on it, I definitely didn’t appreciate what was right in front of me, but that’s another perk of reliving the experience through the pictures and blogging about it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>