<html style="background-image: url('../../assets/aboutBackground.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

<div class="container" style="height:2000px;">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">History</i></h2>
                        <h5 class="center"><br>What's happened</h5>
            
                        <ul class="collection">
                            <a href="#!" class="collection-item">Cross Country Road Trips</a>
                            <a href="#!" class="collection-item">Local Weekend Trips</a>
                            <a href="#!" class="collection-item">International Trips</a>
                            <a href="#!" class="collection-item">Resort Vacations</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">Right Now</i></h2>
                        <h5 class="center"><br>What's happening</h5>

                        <p class="light">
                            I'm currently in the process of bringing all of the functionality I had planned for the website into reality.
                            I'm always working on ways to improve the user interface or ways to make the blogs more interactive.
                            If you have any suggestions please contact me through the link in the header on every page. 
                            As time goes on you will see a more polished site that truly embodies my love of travel, but in the meantime enjoy what is available.
                            The blogs I do have posted are all personal accounts of some of my favorite trips. You can view them on a map or just view each post separately.
                            If you would like to have one of your own posts featured, please send in an email containing your name, age, and documents you would like included in the blog post (word document, pictures, etc.).
                            Also enjoy this picture in the background. It was my favorite stop on my cross country trip, Eagle Falls. You can scroll down to see the picture unobstructed.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">Goals</i></h2>
                        <h5 class="center"><br>What's coming</h5>
                        
                        <ul class="collection">
                            <a href="#!" class="collection-item">Learning to Fly</a>
                            <a href="#!" class="collection-item">Exotic Flights</a>
                            <a href="#!" class="collection-item">Celebrity Interviews</a>
                            <a href="#!" class="collection-item">Group trips</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</html>