<html style="background-image: url('../../assets/aboutBackground.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

<div class="container" style="height:2200px;">
    <div class="section">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">A Little About Me</span>
                        <p>
                            <span class='tab'></span>My name is John Parke. I graduated from Michigan State University in 2020. I haven't been traveling for long, but I've been doing my best to see as much cool shit as possible.
                            <br><span class='tab'></span>I live by two mantras. The first is basically don't wait. There might not be a next time, so just go for it. 
                            The other is, "If it doesn't excite you then it's not worth it." You will be your most productive and the best version of yourself chasing what excites you, so don't waste your time on things you aren't passionate about.
                            <br><span class='tab'></span>Throughout most of my childhood, the only traveling I did was to Disney World or Chicago or D.C. and 
                            I enjoyed it, so I didn't realize I was missing out on so much. Hiking, camping, and exploring have become my favorite parts of life.
                            <br><span class='tab'></span>My first trip to see something other than a big city or Disney was in 10th grade.
                            My dad and I took a trip to see some of the national parks in Michigan. We packed up a tent and headed to the West coast of Michigan.
                            The first stop on our trip was Sleeping Bear Dunes, and let me just say it was mind-blowing. I'd never seen something so different from what I was used to.
                            Most of Michigan is covered in trees or farmland, but certainly not desert. The rolling hills of endless sand took my breath away and from that day forward, I was in love with the world.
                            <br><span class='tab'></span>I was inspired to see more of what nature has to offer by any means necessary. Local day trips followed, and then those became weekend trips, and eventually I started planning a grand trip. That trip finally came to fruition in the last few months.
                            I want to remember everything I've done and seen, and this was the best way I knew how to make that happen. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card">
                    <div class="card-image" style="padding: 10px;">
                        <img src="../../assets/eagleLake.JPG">
                    </div>
                    <div class="card-content">
                        <span class="card-title">My Favorite Place</span>
                        <p>
                            This picture was taken at Eagle Lake in California. It sits just above Eagle Falls which pours into the Emerald Bay area of Lake Tahoe.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</html>