<html style="background-image: url('../../assets/aboutBackground.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

<div class="container" style="height:2200px;">
    <div class="section">
        <div class="row">
            <div class="col s12 m8">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">A Little About Me</span>
                        <p>
                            <span class='tab'></span>My name is John Parke. I graduated from Michigan State University in 2020. I haven't been traveling for long, but I've been doing my best to see as much cool shit as possible.
                            <br><span class='tab'></span>I live by two mantras. The first is basically don't wait. There might not be a next time, so just go for it. 
                            The other is, "If it doesn't excite you then it's not worth it." You will be your most productive and the best version of yourself chasing what excites you, so don't waste your time on things you aren't passionate about.
                            <br><span class='tab'></span>Throughout most of my childhood, the only traveling I did was to Disney World or Chicago or D.C. and 
                            I enjoyed it, so I didn't realize I was missing out on so much. Hiking, camping, and exploring have become my favorite parts of life.
                            <br><span class='tab'></span>My first trip to see something other than a big city or Disney was in 10th grade.
                            My dad and I took a trip to see some of the national parks in Michigan. We packed up a tent and headed to the West coast of Michigan.
                            The first stop on our trip was Sleeping Bear Dunes, and let me just say it was mind-blowing. I'd never seen something so different from what I was used to.
                            Most of Michigan is covered in trees or farmland, but certainly not desert. The rolling hills of endless sand took my breath away and from that day forward, I was in love with the world.
                            <br><span class='tab'></span>I was inspired to see more of what nature has to offer by any means necessary. Local day trips followed, and then those became weekend trips, and eventually I started planning a grand trip. That trip finally came to fruition in the last few months.
                            I want to remember everything I've done and seen, and this was the best way I knew how to make that happen. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image" style="padding: 10px;">
                        <img src="../../assets/me.jpg">
                    </div>
                </div>
            </div>
        </div>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">History</i></h2>
                        <h5 class="center"><br>What's happened</h5>
            
                        <p class="light">
                            This website was created in the aftermath of Covid-19. With all the free time afforded by the stay at home order, I decided to compile my travel experiences into one place.
                            It was also a good chance to brush up on my web development skills, so I went all in. I started working on it in late October of 2020, so if you're seeing an unpolished site, just give it some time.
                            All the trips I've taken are in a blog format on the blog page, but if you're interested in a specific type of trip, I have links that filter the blog posts below.
                            Enjoy!
                        </p>

                        <ul class="collection">
                            <a href="#!" class="collection-item">Cross Country Road Trips</a>
                            <a href="#!" class="collection-item">Local Weekend Trips</a>
                            <a href="#!" class="collection-item">International Trips</a>
                            <a href="#!" class="collection-item">Resort Vacations</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">Right Now</i></h2>
                        <h5 class="center"><br>What's happening</h5>

                        <p class="light">
                            I'm currently in the process of bringing all of the functionality I had planned for the website into reality.
                            I'm always working on ways to improve the user interface or ways to make the blogs more interactive.
                            If you have any suggestions please contact me through the link in the header on every page. 
                            As time goes on you will see a more polished site that truly embodies my love of travel, but in the meantime enjoy what is available.
                            The blogs I do have posted are all personal accounts of some of my favorite trips. You can view them on a map or just view each post separately.
                            If you would like to have one of your own posts featured, please send in an email containing your name, age, and documents you would like included in the blog post (word document, pictures, etc.).
                            Also enjoy this picture in the background. It was my favorite stop on my cross country trip, Eagle Falls. You can scroll down to see the picture unobstructed.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">Goals</i></h2>
                        <h5 class="center"><br>What's coming</h5>

                        <p class="light">
                            In the months to come, I will be learning to fly a powered paraglider. I'll be joining the paramotor community.
                            I'm excited to see the world from a whole different point of view. I am also taking a huge trip to Iceland in June. I am hoping I can find a way to fly through Iceland and make some amazing memories from the skies.
                            It will be my first trip outside of North America, so I'm really excited already. In the future I also plan to compile travel stories from public figures and people I look up to. 
                            Eventually, I'd love to start planning trips for others too, and have a section where people can pick an area and enjoy the trip without too  much planning on their end.
                        </p>
                        
                        <ul class="collection">
                            <a href="#!" class="collection-item">Learning to Fly</a>
                            <a href="#!" class="collection-item">Celebrity Interviews</a>
                            <a href="#!" class="collection-item">Planned trips</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</html>