.about{
    margin:10%;
}
img{
    height:fill;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.column {
    float: left;
    width: 50%;
}
.ro{
    border: 24px solid rgba(68,90,100,1);
}
.ro:after {
    content: "";
    display: table;
    clear: both;
}
p{
    line-height: 2em;
}