<html style="background-image: url('../../assets/exampleBlog2.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    </head>
    <body>
        <div class="row">
            <div id="mapid"></div>
        </div>
        <div class="row rowtwo">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title blogTitle"></span>
                        <p class="blogContent">
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <app-blog-post></app-blog-post>
    </body>
</html>