#mapid { 
    height: 480px; 
    margin-bottom: 160px;
}
.row{
    width:70%;
    height: 550px;
    padding-top: 20px;
    margin-bottom: 0px;
}
.rowtwo{
    width:70%;
    height: 250px;
    padding-top: 20px;
    margin-bottom: 0px;
}