<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  
  <body>
  
    <div id="index-banner" class="parallax-container">
        <div class="container" style="margin-top:4%;">
          <br><br>
          <div class="row center title">
            <h1 class="header white-text">a breath of fresh air</h1>
          </div>
          <div class="row center title" style="margin-top:5%;">
            <h5 class="header col s12">From tips to blog posts this is the home of everything travel</h5>
          </div>
          <br><br>
  
        </div>
      <div class="parallax"><img src="../../assets/background3Copy.jpg" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 206.37px, 0px); opacity: 1;"></div>
    </div>
  
  
    <div class="container body">
      <div class="section">
        <div class="row heavy">
          <div class="col start">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/travel.jpg">
              </div>
              <p class="h5 cardText">What's Happened</p>
              <div class="card-content">
                With all the time afforded by the stay at home order during Covid-19, I decided to compile my travel experiences into one place.<br>
                <button class="activator read">Read More</button>
              </div>
              <div class="card-reveal">
                <span class="card-title">What's Happened<i class="material-icons right">close</i></span>
                <p class="long"><br><span class='tab'></span>This website was created in the aftermath of Covid-19. With all the free time afforded by the stay at home order, I decided to compile my travel experiences into one place.
                  It was also a good chance to brush up on my web development skills, so I went all in. I started working on it in late October of 2020, so if you're seeing an unpolished site, just give it some time.
                  <br><br><span class='tab'></span>All the trips I've taken are in a blog format on the blog page, but if you're interested in a specific type of trip, I have links that filter the blog posts below.
                  Enjoy!<br><br>
                </p>
                <ul class="collection">
                  <a href="#!" class="collection-item">Cross Country Road Trips</a>
                  <a href="#!" class="collection-item">Local Weekend Trips</a>
                  <a href="#!" class="collection-item">International Trips</a>
                  <a href="#!" class="collection-item">Resort Vacations</a>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/coding.jpg">
              </div>
              <p class="h5 cardText">What's Happening</p>
              <div class="card-content">
                As time goes on you will see a more polished site that truly embodies my love of travel, but in the meantime enjoy.<br>
                <button class="activator read">Read More</button>
              </div>
              <div class="card-reveal">
                <span class="card-title">What's Happening<i class="material-icons right">close</i></span>
                <p class="long"><br><span class='tab'></span>I'm currently in the process of bringing all of the functionality I had planned for the website into reality.
                  I'm always working on ways to improve the user interface or ways to make the blogs more interactive.
                  <br><br><span class='tab'></span>If you have any suggestions please contact me through the link in the header on every page. 
                  As time goes on you will see a more polished site that truly embodies my love of travel, but in the meantime enjoy what is available.
                  The blogs I do have posted are all personal accounts of some of my favorite trips. You can view them on a map or just view each post separately.
                  <br><br><span class='tab'></span>If you would like to have one of your own posts featured, please send in an email containing your name, age, and documents you would like included in the blog post (word document, pictures, etc.).</p>
              </div>
            </div>
          </div>
  
          <!-- <div class="col">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/community.jpg">
              </div>
              <p class="h5 cardText">What Will Happen</p>
              <div class="card-content">
                I'm excited to see the world from a whole different point of view and join a community of cool people.<br>
                <button class="activator read">Read More</button>
              </div>
              <div class="card-reveal">
                <span class="card-title">What Will Happen<i class="material-icons right">close</i></span>
                <p>In the months to come, I will be learning to fly a powered paraglider. I'll be joining the paramotor community.
                  I'm excited to see the world from a whole different point of view. I am also taking a huge trip to Iceland in June. I am hoping I can find a way to fly through Iceland and make some amazing memories from the skies.
                  It will be my first trip outside of North America, so I'm really excited already. In the future I also plan to compile travel stories from public figures and people I look up to. 
                  Eventually, I'd love to start planning trips for others too, and have a section where people can pick an area and enjoy the trip without too  much planning on their end.
                </p>
                <ul class="collection">
                  <a href="#!" class="collection-item">Learning to Fly</a>
                  <a href="#!" class="collection-item">Celebrity Interviews</a>
                  <a href="#!" class="collection-item">Planned trips</a>
                </ul>
              </div>
              
            </div>
          </div> -->
        </div>
  
      </div>
    </div>
  
  
    <div class="parallax-container valign-wrapper">
        <div class="container">
          <div class="row center title2">
            <h5 class="header col s12 light">Explore travel stories from myself and those I meet out on my trips.</h5>
          </div>
        </div>
      <div class="parallax"><img src="../../assets/exampleBlog.jpg" alt="Unsplashed background img 2" style="transform: translate3d(-50%, 206.37px, 0px); opacity: 1;"></div>
    </div>
  
  
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
  
    </body>
  </html>
  