<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  
  <body>
  
    <div id="index-banner" class="parallax-container">
        <div class="container" style="margin-top:4%;">
          <br><br>
          <h1 class="header center white-text">a breath of fresh air</h1>
          <div class="row center" style="margin-top:5%;">
            <h5 class="header col s12">From tips to blog posts this is the home of everything travel</h5>
          </div>
          <div class="row center" style="margin-top:1%;">
            <a href="/about" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">Learn About Us</a>
          </div>
          <br><br>
  
        </div>
      <div class="parallax"><img src="../../assets/background3Copy.jpg" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 206.37px, 0px); opacity: 1;"></div>
    </div>
  
  
    <div class="container">
      <div class="section">
  
        <!--   Icon Section   -->
        
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">What's Happened</h5>
  
              <p class="light">
                This website was created in the aftermath of Covid-19. With all the free time afforded by the stay at home order, I decided to compile my travel experiences into one place.
                It was also a good chance to brush up on my web development skills, so I went all in. I started working on it in late October of 2020, so if you're seeing an unpolished site, just give it some time.
                All the trips I've taken are in a blog format on the blog page, but if you're interested in a specific type of trip, I have links that filter the blog posts below.
                Enjoy!
              </p>
              <ul class="collection">
                <a href="#!" class="collection-item">Cross Country Road Trips</a>
                <a href="#!" class="collection-item">Local Weekend Trips</a>
                <a href="#!" class="collection-item">International Trips</a>
                <a href="#!" class="collection-item">Resort Vacations</a>
            </ul>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">What's Happening</h5>
  
              <p class="light">
                I'm currently in the process of bringing all of the functionality I had planned for the website into reality.
                I'm always working on ways to improve the user interface or ways to make the blogs more interactive.
                If you have any suggestions please contact me through the link in the header on every page. 
                As time goes on you will see a more polished site that truly embodies my love of travel, but in the meantime enjoy what is available.
                The blogs I do have posted are all personal accounts of some of my favorite trips. You can view them on a map or just view each post separately.
                If you would like to have one of your own posts featured, please send in an email containing your name, age, and documents you would like included in the blog post (word document, pictures, etc.).
            </p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">What Will Happen</h5>
  
              <p class="light">
                In the months to come, I will be learning to fly a powered paraglider. I'll be joining the paramotor community.
                I'm excited to see the world from a whole different point of view. I am also taking a huge trip to Iceland in June. I am hoping I can find a way to fly through Iceland and make some amazing memories from the skies.
                It will be my first trip outside of North America, so I'm really excited already. In the future I also plan to compile travel stories from public figures and people I look up to. 
                Eventually, I'd love to start planning trips for others too, and have a section where people can pick an area and enjoy the trip without too  much planning on their end.
              </p>
              <ul class="collection">
                <a href="#!" class="collection-item">Learning to Fly</a>
                <a href="#!" class="collection-item">Celebrity Interviews</a>
                <a href="#!" class="collection-item">Planned trips</a>
            </ul>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
    <div class="parallax-container valign-wrapper">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Explore travel stories from myself and those I meet out on my trips.</h5>
          </div>
        </div>
      <div class="parallax"><img src="../../assets/exampleBlog.jpg" alt="Unsplashed background img 2" style="transform: translate3d(-50%, 206.37px, 0px); opacity: 1;"></div>
    </div>
  
    <footer class="page-footer blue-grey lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Bio</h5>
            <p class="white-text">I am a recent Michigan State graduate hoping to share my experiences with the world to inspire and help others get out and live their dreams of seeing the world.</p>
  
  
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Twitter</a></li>
              <li><a class="white-text" href="#!">TikTok</a></li>
              <li><a class="white-text" href="#!">Instagram</a></li>
              <li><a class="white-text" href="#!">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        This site was made using <a class="white-text" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  
  
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
  
    </body>
  </html>
  