.parallax-container {
    min-height: 480px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
    width: 100.05%;
    margin-left: -1px;
    margin-right: -1px;
}
.btn-large{
    height: 64px;
    line-height: 64px;
    font-size: 20px;
    padding: 0 28px;
}
h1{
    font-size: 5.2rem;
}
h5{
    font-size: 2.2rem;
}